#footer{
    padding: 20px;
    height: 50vh;
    width: 100%;
    background-color: $green-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;     
    img{
         width: 55px;
        height: 55px;
    }
    .footer-organizer{
            padding-top: 60px;
            display: flex;
            align-items: center;
            h5{
                margin: 0px;
                padding-right: 20px;
            }
    }
    .last-words{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}